body {
  padding-top: 75px;
}

a:hover {
  color: #0f0;
  text-decoration: none;
}

/* navbar */
.navbar {
  font-family: 'Share Tech Mono', monospace;
  color: #00cc00;
}

#mypage .navbar-inverse, #mypage .navbar-brand {
  color: #00cc00;
}

/* posts */
.dim-text {
  color: #666;
}

/* tags */
.tag{
  color: #0c0;
}

.tag:hover, .tag a:hover {
  color: #0e0;
}

#tag-cloud td {
  text-align: center;
  background-color: #1c1e22;
}

#tag-cloud table {
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  color: #0c0;
}

#sidebar h2 {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
}

/* login box */
.form-signin-heading {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
}

.form-signin input {
  margin: 3% 0;
}

#login-dropdown {
  width: 200px;
  padding: 0% 10% 5%;
}

/* post history */
.post-history {
  text-align: right;

}

.post-history li {
  list-style-type: none;
  padding-right: 3%;
}

/* footer */
.myfooter {
  margin-bottom: 20px;
  margin-top: 2px;
}