#exTab .tab-content {
	background-color: #3364c6;
}

#exTab .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

h2 {
	font-family: 'Bauhaus';
}

#post-edit-modal .modal-footer {
	margin-top: 3%;
}

#b1, #b2 {
	padding-left: 3%;
}

#b1 .pull-right, #b2 .pull-right {
	margin-right: .5%;
}

#pendingDelete {
    background-color: lightcoral;
}

#deleteLink {
    display: none;
}

#page-layout {
    color: #444;
}

#column2, #column3 {
    display: none;
}